[submodule "cafeclimber/datalogger/lib/hackrf"]
	path = cafeclimber/datalogger/lib/hackrf
	url = git://github.com/mossmann/hackrf.git
[submodule "cafeclimber/datalogger/lib/mavlink/v1.0"]
	path = cafeclimber/datalogger/lib/mavlink/v1.0
	url = git://github.com/mavlink/c_library_v1
[submodule "cafeclimber/datalogger/lib/libxbee3"]
	path = cafeclimber/datalogger/lib/libxbee3
	url = git://github.com/attie/libxbee3.git
[submodule "eld00d/natevc-RemoteSensing"]
	path = eld00d/natevc-RemoteSensing
	url = git@github.tamu.edu:natevc/ENGR491-RemoteSensing.git
	branch = master
